:root {
    --white: #ffffff;
    --uw-purple: #4B2E83;
    --dark-violet: #38265a; 
    --kojobs-gray: #505050; 
    --gold: #A49E87; 
    --light-gold: #B7A57A; 
}

footer {
    background-color: var(--dark-violet);
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    color: var(--white);
    font-size: 2vw;
    margin-top: 10%;
    font-weight: lighter;
}

.fa {
    padding-top: 10%;
    color: var(--white);
    font-size: 1vw !important;
    font-size: 30px;
    display: inline;
}

ul {
    padding-left: 10%;
}

.contact_us li {
    list-style-type: none;
    text-decoration: none;
}

.contact_us li a {
    text-decoration: none;
    color: var(--white);
}

.fa:hover {
    text-decoration: underline;
}

.contact_us li a:hover {
    text-decoration: underline;
}

#kojobs_logo {
    padding-left: 10%;
    max-width: 100%;
    width: 10vw;
    height: auto;
}

#logo_img {
    padding-right:10%;
}

#copyright {
    margin-top: 13%;
    font-size:0.5vw;
    text-align: center;
}

