.page-title {
  background-color: var(--kojobs-gray); 
  padding: 42px 72px; 
  font-size: 42px; 
}

.headings {
  font-family: "Encode Sans", sans-serif;
}

.white {
  color: var(--white); 
}


.centered {
  padding: 7% 23%;
}

.title {
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: rgba(0, 0, 0, 1);
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    font-family: "Encode Sans", sans-serif;
}

.paragraph {
    color: rgb(54, 54, 54);
    padding: 0% 10%;
    font-size: 29.5px;
    text-align: center;
    font-family: "Encode Sans", sans-serif;
}

.gap {
    height: 60px;
  }

/* .button {
    display: inline;
    width: 33%;
    max-width: 210px;
    margin-top: 10px;
    border-radius: 60px;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    background-color: rgba(164, 158, 135, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Encode Sans", sans-serif;
    float: center;
  } */

.letter {
  color: rgb(90, 90, 90);
  padding-top: 3rem;
  padding-bottom: 3rem;  
  width: 34%;
    text-align: center;
    float:center;
    font-size: 50px;
    font-family: "Encode Sans", sans-serif;
    display: inline;   
  }

.barcode {
    float:center;
    text-align: center;
    display: flex;
    width: 15%;
  }

  .centerDiv
  {
    padding-top: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    width: 100%; 
    height:200px;
    margin: 0 auto;
  }


  .gold_bar {
    margin-bottom: 2rem;
    width: 6.7rem;
    height: 0.65rem;
    background-color: #85754d;
    flex-shrink: 0;
    display: flex;
  }

  .gold_bar_centered {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
  }



  /* @media all and (max-width: 414px) {
    .centered {
      padding: 3% 1%;
    }
  } */

  


  @media screen and (max-width: 900px) {
    .centerDiv
    {
      padding-top: 13rem;
      padding-bottom: 12rem;
      display: flex;
      flex-direction: column;
    }

    .barcode {
      width: auto;
    }

    .centered {
      padding: 7% 0%;
    }
    
    .letter {
        font-size: 40px; 
    }

    .paragraph {
      color: rgb(54, 54, 54);
      padding: 0% 10%;
      font-size: 28px;
    }

  }