:root {
    --white: #ffffff;
    --uw-purple: #4B2E83;
    --kojobs-purple: #38265a; 
    --kojobs-gray: #505050; 
    --gold: #A49E87; 
    --light-gold: #B7A57A; 
    --kojobs-green: #95A7A0;
}

.a-none {
    text-decoration: none;
    font-size: 14px; 
}

#about-us-section {
    background-color: var(--kojobs-purple);
}

.fade-in {
    animation: fadeIn 3s;
}

.banner-headings {
    font-size: 52px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 0;
}

.banner-text {
    font-weight: 12px;
    letter-spacing: -1px;
    margin-top: 0;
}

/* to remove margin in corners of website */
body {
    margin:0px;
}

.centered {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#events-section {
    background-color: var(--kojobs-green);
    padding: 0% 5%;
}

.gap {
    margin-bottom: 32px;
}

.headings {
    font-family: 'Encode Sans', sans-serif;
}

.images {
    height: 100%;
    width: auto;
}

.images-tablet {
    height: 0px;
}

#join-us-section {
    background-color: var(--gold);
    padding: 0% 5%;
}

/* makes an element fade in from opacity 0% to 100% */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.learn-more {
    font-weight: bold;
    color: var(--white);
    text-decoration: none;
}

#learn-more-banner {
    background-color: rgba(255, 255, 255, 0.33); /* using rgba since opacity cannot be used (is inherited to child) */
    color: var(--white); 
    padding: 4px 32px; 
    border-radius: 2px;
    border: none;
    cursor:pointer;
    margin-top: 20px;
}

.main-banner {
    position: relative;
    width:100%;
    height:100%;
    margin-bottom: 64px;
}

#officers-section {
    background-color: var(--kojobs-gray);
    padding: 0% 5%;
}

section {
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.section-text {
    margin-top: 0px;
    margin-left: 72px;
    margin-right: 72px;
}

.section-text-container {
    color: var(--white);
    width: 50%;
}

.text-center {
    text-align: center;
}

.white-text {
    color: var(--white);
}


@media (max-width: 1100px) {
    .banner-headings {
        font-size: 42px;
    }

    .banner-text {
        font-size: 14px;
        letter-spacing: -1px;
        margin-top: 0;
    }

    #events-section {
        padding: 5%;
    }

    .images {
        height: 0px;
    }

    .images-tablet {
        margin-top: 30px;
        height: 400px;
    }

    #join-us-section {
        padding: 5%;
    }

    #officers-section {
        padding: 5%;
    }

    section {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }

    .section-text-container {
        text-align: center;
        width: 92%;
    }
}

@media (max-width: 600px) {
    .banner-headings {
        font-size: 28px;
    }

    .banner-text {
        font-size: 10px;
        letter-spacing: -1px;
        margin-top: 0;
    }

}

@media (min-width: 1100px) {
    #join-us-section {
        height: 400px;
    }

    #officers-section {
        height: 400px;
    }

    #events-section {
        height: 400px;
    }
}