:root {
    --white: #ffffff;
    --uw-purple: #4B2E83;
    --kojobs-gray: #505050; 
    --gold: #A49E87; 
    --light-gold: #B7A57A; 
}

.headings {
    font-family: 'Encode Sans', sans-serif;
    font-size: 4vw;
}

.page-title {
    background-color: var(--kojobs-gray); 
    padding-top: 42px;
    padding-bottom: 42px;
    padding-left: 12%;
    padding-right: 12%;
    font-size: 42px;
    color: var(--white);
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 2vw;
}

h3 {
    font-weight: bold;
}

.back-ground {
    background-color: #E1E1E1;
    font-size: 12px;
}

.container {
    display: block;
    flex-direction: column;
    align-items: center;
  }

.sub-img {
    max-width: 50%;
    height: auto;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

.media {
    align-items: center;
}

.row {
    background-color: #ffffff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 2em;
    padding-left: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.blockquote-footer {
    font-size: 1vw;
}