:root {
    --white: #ffffff;
    --uw-purple: #4B2E83;
    --dark-violet: #38265a; 
    --kojobs-gray: #505050; 
    --gold: #A49E87; 
    --light-gold: #B7A57A; 
}

footer {
    background-color: var(--dark-violet);
}

.container {
    display: block;
    flex-direction: column;
    align-items: center;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    color: var(--white);
    margin-top: 10%;
    font-weight: lighter;
}

.fa {
    padding-top: 10%;
    color: var(--white);
    font-size: 20px !important;
    display: inline;
}

ul {
    padding-left: 0%;
}

.contact_us li {
    list-style-type: none;
    text-decoration: none;
}

.contact_us li a {
    text-decoration: none;
    color: var(--white);
    font-size:15px;
}

.fa:hover {
    text-decoration: underline;
}

.contact_us li a:hover {
    text-decoration: underline;
}

.footer_logo {
    padding-top: 15%;
    padding-left: 10%;
    max-width: 50%;
    height: auto;
    margin-left:60%;
}

#logo_img {
    padding-right:10%;
}

.copyright {
    padding-top: 37%;
    font-size:0.5vw;
    text-align: center;
}

@media (max-width: 1000px) {
    .contact_us {
        text-align: center;
        padding-left: 0%;
    }
    .footer_logo{
        margin-left:0%;
        max-width: 40%;
        height: auto;
    }
    .copyright {
        padding-top: 0%;
        font-size:0.5vw;
        text-align: center;
    }
}