:root {
    --white: #ffffff;
    --uw-purple: #4B2E83;
    --kojobs-purple: #38265a; 
    --kojobs-gray: #505050; 
    --gold: #A49E87; 
    --light-gold: #B7A57A; 
}


.navbar-custom {
    background-color: var(--kojobs-purple);
    font-size: 15px;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-toggler,
.navbar-custom .navbar-text,
.navbar-custom .navbar-nav .nav-item,
.navbar-custom .navbar-nav .nav-link {
    color: var(--white);
}

.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255, 1.0)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    text-decoration: underline; 
}

.navbar > a{
    margin-left:30px;
}

.navbar-nav > .nav-item {
    margin-left:30px;
}

#membership {
    background-color: var(--gold);
    margin-right: 30px;
    margin-left: 20px;
}
/*
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--white);
}

button.membership {
    margin-right: 15%;
    border: none;
}

.hamburger {
    display: none;
    cursor: pointer;
    margin-top: 0;
    background-color: var(--kojobs-purple);
    border: none;
}

#hamburger-nav {
    display: none;
    width: 100%;
    margin: 0;
}

header {
    background-color: var(--kojobs-purple);
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

#logo-max-780 {
    display: none;
}

.membership {
    background-color: var(--gold);
    color: var(--white);
}

.nav {
    color: var(--white);
    margin-left: 15%;
    display: flex;
    font-family: 'Encode Sans', sans-serif;
    align-items: center;
}

.nav li {
    margin-left: 2em; 
    list-style-type: none; 
    font-size: 12px;
}

.nav li a {
    color: var(--white); 
    text-decoration: none;
}

.nav li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.nav-ham {
    color: var(--kojobs-purple);
    background-color: var(--wite);
    display: flex;
    flex-direction: column;
    font-family: 'Encode Sans', sans-serif;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-ham li {
    list-style-type: none; 
    padding: 20px;
    font-size: 16px;
    align-items: center;
}

.nav-ham li a {
    color: var(--kojobs-purple);
    padding-left: 32px;
    text-decoration: none;
}

.nav-ham li:hover {
    text-decoration: underline;  
}

.nav-ham-item {
    width: 100%;
}

.nav-line {
    color: var(--kojobs-purple);
}

.nav-membership {
    background-color: var(--gold);
}

@media only screen and (max-width: 992px) {

    button.membership {
        display: none;
    }

    .hamburger {
        display: unset;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    header {
        padding-left: 10%;
        padding-right: 10%; 
    }

    #logo-max-780 {
        display: unset;
    }

    .nav {
        display: none;
    }

    .nav.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }
}
*/