.page-title {
  background-color: var(--kojobs-gray); 
  padding: 42px 72px; 
  font-size: 42px; 
}


.gold_bar {
  margin-bottom: 3.7rem;
  width: 6.7rem;
  height: 0.65rem;
  background-color: #85754d;
  flex-shrink: 0;
  display: flex;
}

.gold_bar_centered {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
}

.page_setting {
  box-sizing: border-box;
  padding-bottom: 18.3033rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}



.column_form {
  margin: 2.3rem 8.4rem 5.9rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.about_title {
  display: flex;
  margin-bottom: 1.2rem;
  max-width: 14.9rem;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}

.description {
  display: flex;
  max-width: 38rem;
  font-size: 1.26rem;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';

}

.page_setting .Various_Events {
  padding-top: 5rem;
  text-align: center;
  font-size: 3.3rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.vertical_form {
  align-items: center;
  text-align: center;
  padding: 7rem 0rem 0rem 0rem;

  width: 35%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.event_title {
  align-items: center;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2575;
  color: #635531;
  font-family: Open Sans, 'Source Sans Pro';
}

.event_desctiption {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  color: #635531;
  font-family: Open Sans, 'Source Sans Pro';
}

 .page_padding {
  background-color: #d3d3d3;
  border-bottom: 0.1rem solid #000000; 
  padding: 5rem 0rem 0rem 15rem;
  padding-bottom: 5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-shrink: 0;  
  margin: 0 auto;
}


.centerDiv {
  justify-content: center;
  align-items: center;
  display: flex;
  height:0px;
  margin: 0 auto;
  padding-bottom: 7rem;;

  
}

.letter {
  width: 34%;
  text-align: center;
  float:center;
  font-size: 3vw;
  font-family: "Encode Sans", sans-serif;
  display: inline;   
}

.barcode {
  float:center;
  text-align: center;
  width: 15%;
}

.about_image {
  text-align: center;
  width:75%;
  border-radius: 10px;
}

.image_attatch {
  padding: 5rem 0rem 0rem 0rem;
  position: relative;
  
  
}

image_adjustable {
  position: fixed;
  overflow: hidden;
  background: "../assets/img8627-2-bg.png"
}


.centered_membership {
  padding: 5rem 0rem 0rem 0rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;

  text-align: center;
  justify-content: center;
  font-size: 3.3rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.page_setting .membership_title {
  padding-bottom: 1px;
  text-align: center;
  font-size: 3.3rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}


.membership_desctiption {
  padding-bottom: 30px;
  display: flex;
  font-size: 1.6rem;
  font-weight: 10;
  line-height: 1.4;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
}

@media screen and (max-width: 1500px) {
 .page_padding {
    padding: 0rem 0rem 10rem 0rem;
    flex-direction: column;
  }

  .about_image {
    margin: 0rem 6rem 3rem 0rem;
    padding-left: 200px;
    width: 90%;
    text-align: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1252px) {
  .centerDiv {
    padding-top: 53rem;
    padding-bottom: 58rem;;
    flex-direction: column;
  }

  .vertical_form {
    width: 100%;
  }
  
}



@media screen and (max-width: 958px) {
  
  
  .page_padding {
    padding: 0rem 0rem 10rem 0rem;
    flex-direction: column;
  }

  .column_form {
    margin: 2.3rem 3rem 5.9rem 3rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }

  .description {
    max-width: 100%;
    display: flex;
  }
  
  .about_image {
    margin: 0rem 6rem 3rem 0rem;
    width: 100%;
    padding-left: 0px;
    border-radius: 10px;
  }


  .vertical_form {
    width: 100%;
  }



  .image_attatch {
    padding: 0rem 0rem 0rem 0rem;
  }



  .centered_membership {
    padding: 0rem 0rem 0rem 0rem;
  }

  .page_setting .membership_title {
    padding: 100rem 0rem 10rem 3rem;
  }


  .membership_desctiption {
    padding-bottom: 30px;
    display: flex;
    font-size: 1.15rem;
    font-weight: 10;
    line-height: 1.4;
  }



}