.box {
    display: flex;
    flex-direction: row;
    max-width: 2000px;
    padding-top: 59px;
    padding-bottom: 59px;
    background-color: rgba(80, 80, 80, 1);
  }

.menuName {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    color: rgb(255, 254, 254);
    font-size: 48px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}



.padding {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-right: 27em;
    padding-left: 27em; 
}

.title {
    color: rgba(0, 0, 0, 1);
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}


.paragraph {
    color: rgba(0, 0, 0, 1);
    font-size: 25px;
    text-align: left;
    font-family: "Open Sans", sans-serif;
}

.paragraph2 {
    color: rgba(0, 0, 0, 1);
    font-size: 25px;
    text-align: left;
    font-family: "Open Sans", sans-serif;
}


  .empty {
    height: 40px;
  }

  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .button {
    display: flex;
    flex-direction: row;
    max-width: 171px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 60px;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    background-color: rgba(164, 158, 135, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
  }